html, body {
	height: 100%;
	margin: 0px;
	font-size: 20px;
	color: white;
	background-color: #282828;
}
.header {
	width: 100%;
	height: 20%;
}
.main {
	width: 100%;
	height: 60%;
}
.visual {
	width: 66%;
	height: 100%;
	float: left;
}
.data {
	width: 33%;
	height: 100%;
	text-align: center;
	float: left;
	border-left: 1px solid #ff6a5c;
	position: relative;
}
.inner {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
	.inner p {
		text-align: left;
		float: left;
		width: 65%;
		margin: 5% 5% 10% 5%;
	}
	.add {
		float: left;
		width: 25%;
		margin: 5% 0 5% 0;
		border: none;
		color: white;
		background-color: transparent;
	}
	#calc {
		width: 50%;
		height: 10%;
		border: none;
		border-radius: 2px;
		margin: 5%;
		color: white;
		background-color: #ff6a5c;
	}
	.btnLst {
		width: 100%;
		margin: 7.14% 0 7.14% 0;
		border: none;
		color: white;
		background-color: transparent;
	}
	.dormPie_pitch {
		display: none;
	}
.footer {
	width: 100%;
	height: 20%;
}
h1 {
	margin: 0px;
	text-align: center;
}
input {
	display: block;
	width: 66%;
	height: 8%;
	margin: 5% auto 5% auto;
	border: none;
	border-radius: 2px;
	color: white;
	background-color: grey;
	text-align: center;
}
#mainList {
	display: none;
}
#dormInput {
	display: none;
}
#total {
}
#subInput0 {
	display: none;
}