html, body {
	height: 100%;
	margin: 0px;
	background-color: #333333;
}
.header {
	width: 100%;
	height: 20%;
}
.main {
	width: 100%;
	height: 60%;
}
.visual {
	width: 66%;
	height: 100%;
	float: left;
	position: relative;
}
.data {
	width: 33%;
	height: 100%;
	text-align: center;
	float: left;
	position: relative;
	border-left: 1px solid black;
}
.input {
	width: 66%;
	height: 100%;
	margin: auto;
}
	.input p {
		text-align: left;
		float: left;
		width: 55%;
		margin: 5%;
	}
	.add {
		float: left;
		width: 25%;
	}
#dormData {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	background-color: green;
}
#dormInput {
	width: 66%;
	height: 80%;
	margin: auto;
}
.buttons {
	width: 100%;
	height: 20%;
}
.footer {
	width: 100%;
	height: 20%;
}
h1 {
	margin: 0px;
	text-align: center;
}
input {
	display: block;
	width: 100%;
	height: 10%;
	margin: 2% auto 2% auto;
	background-color: transparent;
	border: 1px solid black;
	text-align: center;
}
button {
	margin: 5%;
	border: none;
	background-color: transparent;
}
#total {
	position: absolute;
	top: 0;
	left: 0;
	background-color: blue;
}